@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --wine: #730217;
    --red: #BF0F30;
    --white: #D9D9D9;
    --gray: #262626;
    --black: #0D0D0D;
}

body {
    background-color: var(--black);
}

a {
    text-decoration: none;
    color:inherit;  
}

header {
    margin-bottom: 20px;
    padding: 30px 0px;
}

h1 {
    font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
    font-size: 3em; 
    color: white;
    text-align: center;
    text-shadow: 8px 7px 7px rgba(0, 0, 0, 0.300);
}

.back img{
    display: block;
    width: 40px;
    height: 40px;
    margin-left: 10%;
    position: absolute;
    top: 6%;
    left: -7%;
}

main {
    margin: auto;
    max-width: 1200px;
    min-width: 350px;
    text-align: center;
}

.capadojogo {
    margin-top: 80px;
    margin-bottom: 80px;
}

.capadojogo img {
    border-radius: 15px;
}

h2 {
    font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
    margin: 5px 0px 10px 0px;
    font-size: 1.5em; 
    color: var(--red);
    text-align: center;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.300);
}

section {
    background-color: var(--white);
    margin: 20px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.267);
}

section p {
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 16px; 
    color: black;
    text-align: justify;
}

strong {
    color: var(--red);
    font-weight: bolder;
}

.btn {
    background-color:var(--red) ;
    font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: white;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    transform: scale(1.2);
    transition: .2s;
}

footer {
    background-color: var(--wine);
    margin-top: 50px;
    padding: 5px;
    
}

footer p {
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1em; 
    color: white;
    text-shadow: 8px 7px 7px rgba(0, 0, 0, 0.300);
    text-align: center;
}