@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --wine: #730217;
    --red: #BF0F30;
    --white: #D9D9D9;
    --gray: #262626;
    --black: #0D0D0D;
}
body {
    background-color: var(--black);
}

header {
    margin: auto;
    margin-bottom: 20px;
    padding: 30px;
    text-align: center;
    
 }

h1 {
    font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
    font-size: 3em; 
    color: white;
    text-shadow: 8px 7px 7px rgba(0, 0, 0, 0.300);
}

main {
    margin: auto;
    max-width: 1200px;
    text-align: center;
}

.search-box {
    margin: auto;
    background-color: var(--wine);
    width: 350px;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#filter {
   border: none;
   background: none;
   outline: none;
   padding: 0px 25px;
   color: white;
   font-size: 16px;
   line-height: 40px;
   width: 350px;
}

.search-btn img {
    width: 30px;
    height: 30px;
    padding-right: 10px;

}

.jogo {
    margin: 15px;
    background-color: var(--gray);
    width: 200px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 8px 7px 7px rgba(0, 0, 0, 0.300);
}

.jogo h2 {
    background-color:var(--red) ;
    font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: normal;
    color: white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.cards {
    margin: auto;
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

    
    
li {
    list-style: none;
    
}

.jogo img {
    display: block;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px ;
}

.jogo:hover {
    transform: scale(1.1);
    transition: .3s;
}

footer {
    flex-shrink: 0;
    background-color: var(--wine);
    margin-top: 50px;
    padding: 5px;
    
}

footer p {
    font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
    font-size: 1em; 
    color: white;
    text-shadow: 8px 7px 7px rgba(0, 0, 0, 0.300);
    text-align: center;
}

@media (max-width:500px) {
    .jogo {
        margin: 15px;
    background-color: var(--gray);
    width: 100px;
    height: 120px;
    border-radius: 10px;
    box-shadow: 8px 7px 7px rgba(0, 0, 0, 0.300);
    }
    .jogo h2 {
        background-color:var(--red) ;
        font-family: 'Bebas Neue', cursive, Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: normal;
        color: white;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .jogo img {
        display: block;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px ;
        width: 100px;
        height: 100px;
    }
}